<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mi primer MVT</h1>
    <h2>    <p style="color: blue">Datos del Familiar </p> </h2>

    <h3>    <p style="color: green"> Familiar 1: </p> </h3>
    <p> 
        {% for value in familiar1 %}
            {{value}}
            
            <br>
        {% endfor %}
    </p>

    <h3>    <p style="color: green"> Familiar 2: </p> </h3>
    <p> 
        {% for value in familiar2 %}
            {{value}}
            
            <br>
        {% endfor %}
    </p>
    
    <h3>    <p style="color: green"> Familiar 3: </p> </h3>
    <p> 
        {% for value in familiar3 %}
            {{value}}
            
            <br>
        {% endfor %}
    </p>

</body>
</html>